#page-footer {
	display:block;
	position:absolute; bottom:0px;
	float:left;
	padding:2px 0px 6px 0px;
	height:35px;
	width:calc(100% - 24px);
	min-width:1050px;
	background-color:#fff;
}

#rh1-logo {
	float:left;
	padding:2px 0px 0px 10px;
	height:40px;
}

.draft {
	float:left;
	font-size:14px;
	color:red;
	padding:18px 0px 0px 20px;
}

.legal {
	float:left;
	font-size:12px;
	padding:20px 0px 0px 20px;
}