body {
    min-width:1050px;
    overflow-x: hidden;
    font-family: Verdana;
    overflow-y:hidden;
}

#content-wrapper {
    position:absolute;
    display:block;
    top:80px;
    height:100%;
    width:calc(100% - 15px);
    overflow-y:auto;
    overflow-x:hidden;
}

/* authorization */
#authorize-modal {
    position:absolute; top:80px;
    height:calc(100% - 125px);
    width:calc(100% - 15px);
    display:none;
    background-color:rgba(33,33,33,.5);
}

#authorize-button {
    position:absolute; top: 40px; left:40px;
    width:100px;
    padding: 13px 0px 15px 0px;
    display:none;
    border-radius:10px;
    background-color:#1f4859;
    color:#ffffff;
    border:none;
    cursor:pointer;
}

#authorize-button:hover {
    background-color:#ddd;
    color:#000000;
}

#authorize-instr {
    position:absolute; top: 0px; left:140px;
    width:340px;
    padding: 0px 0px 15px 0px;
    margin:40px 40px;
    color:#ffffff;
    border:none;
    cursor:pointer;
}
#menu-holder {
    display:inline-block;
    width:460px;
}

#bldg-menu {
    position:relative; top: 20px;
    display:inline-block;
    float:left;
    margin:5px 0px 0px 0px;

    width:450px;
    max-width:450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#room-menu {
    position:relative; top: 40px;
    display:inline-block;
    float:left;
    margin:5px 0px 0px 0px;

    width:450px;
    max-width:450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#menu-holder .clear {
    display:inline-block;
    float:left;

    width:24px;
    height:24px;
    margin:0px 0px 0px 5px;
    padding:1px;
    border-radius:5px;
    border:1px solid #aaa;

    background-image: linear-gradient(to top,#ccc 0,#eee 60%);
    color:#aaa;

    cursor:pointer;
}

#menu-holder .clear:hover {
    color:#637e8d;
}

/*spinner*/
#spin-area {
    top:100px;
    height:100%;
    width:100%;
    max-width:1446px;
    display:block;
    margin: 0 auto;
}

/*select2*/
.select2-result-label {
    font-size: 12px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 10px;
    letter-spacing:1px;
}

.select2-chosen {
    padding-top:5px;
    font-size: 14px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 16px;
    letter-spacing:1px;
}

.select2-drop {
    width:400px;
    max-width:400px;
}

.select2-result-label {
    font-size:11px;
    max-width:380px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.select2-input {
    padding-top:5px;
    font-size: 16px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 16px;
    letter-spacing:1px;
}

.select2-results__option.emptyoption {
    color: #d3d3d3;
}

.select2-container {
    float:left;
}

.select2-container--default {
    font-weight:200;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
    background: rgba(248, 248, 248, 0);
    border-radius: 6px;
    color: black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 18px;
}

.select2-container .select2-selection--single {
    height: 18px;
    border: none;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #aaa;
    border-radius: 6px;
    width:inherit;
}

.select2-container--open .select2-dropdown--above {
    border: 1px solid #aaa;
    border-radius: 6px;
    width:inherit;
}