#page-header {
	display:inline-block;
	float:left;
	padding:3px;
	height:55px;
	width:calc(100% - 486px);
	background-color:#1f4859;
}

#client-logo {
	float:left;
	padding:2px 0px 0px 10px;
	height:50px;
}

#logo-div {
	float:left;
	margin:2px 15px 0px 15px;

	width:1px;
	height:48px;

	background-color:#fff;
}

#mk-logo {
	float:left;
	padding:9px 10px 0px 0px;
	height:37px;
}

img {
	position:relative;
	max-height:100%;
}

.navbutton {
	display:inline-block;
	padding:3px;
	float:left;
	width:150px;
	height:55px;
	margin-left:4px;


	background-color:#a0b1ba;
	cursor:pointer;
}

.navbutton text {
	display:block;
	position:relative; top:20px;
	width:100%;
	text-align:center;
	font-size:12px;
	color:#ffffff;
}

.navbutton.active {
	background-color:#637e8d;
}

.navbutton:hover {
	background-color:#025468;
}