body {
    min-width:1050px;
    overflow-x: hidden;
    font-family: Verdana;
    overflow-y:hidden;
}

#content-wrapper {
    position:absolute;
    display:block;
    top:80px;
    height:100%;
    width:calc(100% - 15px);
    min-width:1050px;
    overflow-y:auto;
    overflow-x:hidden;
}

/* authorization */
#authorize-modal {
    position:absolute; top:80px;
    height:calc(100% - 125px);
    width:calc(100% - 15px);
    display:none;
    background-color:rgba(33,33,33,.5);
}

#authorize-button {
    position:absolute; top: 40px; left:40px;
    width:100px;
    padding: 13px 0px 15px 0px;
    display:none;
    border-radius:10px;
    background-color:#1f4859;
    color:#ffffff;
    border:none;
    cursor:pointer;
}

#authorize-button:hover {
    background-color:#ddd;
    color:#000000;
}

#authorize-instr {
    position:absolute; top: 0px; left:140px;
    width:340px;
    padding: 0px 0px 15px 0px;
    margin:40px 40px;
    color:#ffffff;
    border:none;
    cursor:pointer;
}

#menu-holder {
    display:inline-block;
    margin:0px 2px;
    padding:0px 20px;
    width:431px;
    height:135px;
    background-color:#efefef;
    border-radius:5px;
}

#bldg-menu {
    position:relative; top: 20px;
    display:inline-block;
    float:left;
    margin:5px 0px 0px 0px;

    width:450px;
    max-width:450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#room-menu {
    position:relative; top: 40px;
    display:inline-block;
    float:left;
    margin:5px 0px 0px 0px;

    width:450px;
    max-width:450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#menu-holder .clear {
    display:inline-block;
    float:left;

    width:24px;
    height:24px;
    margin:0px 0px 0px 5px;
    padding:1px;
    border-radius:5px;
    border:1px solid #aaa;

    background-image: linear-gradient(to top,#eee 0,#fff 60%);
    color:#a9a9a9;

    cursor:pointer;
}

#menu-holder .clear:hover {
    color:#fbb157;
}

#photo-frame {
    position:absolute; top:0px; left:485px;
    width:calc(100% - 488px);
    height:500px;
    display:block;
    border-style:solid;
    border-width:1px;
    border-color:#a9a9a9;
}

#nophoto-modal {
    position:absolute; top:0px; left:485px;
    width:calc(100% - 488px);
    height:500px;
    display:none;
    background-color:rgba(255,255,255,0);
}

#nophoto-message {
    width:100%;
    height:50px;
    position:relative;top:250px;
    font-size:100%;
    text-align:center;
    color:#000000;
}

#thumbnail-frame {
    position:absolute; top:510px; left:485px;
    width:calc(100% - 488px);
    height:120px;
    display:block;
    border-style:solid;
    border-width:1px;
    border-color:#a9a9a9;
    overflow-y:hidden;
    overflow-x:auto;
}

#thumbnail-liner {
    height:120px;
    max-height:120px;
    float:left;
}

.thumbnail-holder {
    display:inline-block;
    height:110px;
    margin:3px 0px 3px 6px;
    float:left;
}

.thumbnail {
    height:110px;
    display:inline-block;
    border-style:solid;
    border-width:2px;
    border-color:#ffffff;
    cursor:pointer;
}

.thumbnail:hover {
    border-color:#fbb157;
}

.thumbnail-label {
    width:100%;
    height:13px;
    background-color:rgba(255,255,255,.8);
    position:relative;top:-19px;
    left:3px;
    font-size:10px;
    text-align:center;
    color:#000000;
}

#room-info {
    display:inline-block;
    padding:0px 0px;
    width:475px;
    height:494px;
    border-radius:5px;
    overflow-y:auto;
}

#room-info .title {
    margin: 10px 2px 5px 4px;
    font-size:14px;
    letter-spacing:1px;
}

#room-info tr {
    margin: 0px 1px;

    line-height:    12px;
    font-size:      10px;
    color:          #025468;
}

#room-info td {
    padding: 3px 0px 3px 5px;
}

#room-info td:nth-child(1) {
    background-color:#637e8d;
    color:#ffffff;
}

#room-info td:nth-child(2) {
    background-color:#efefef;
    color:#025468;
}

/*spinner*/
#spin-area {
    top:100px;
    height:100%;
    width:100%;
    max-width:1446px;
    display:block;
    margin: 0 auto;
}

/*select2*/
.select2-result-label {
    font-size: 12px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 10px;
    letter-spacing:1px;
}

.select2-chosen {
    padding-top:5px;
    font-size: 14px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 16px;
    letter-spacing:1px;
}

.select2-drop {
    width:400px;
    max-width:400px;
}

.select2-result-label {
    font-size:11px;
    max-width:380px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.select2-input {
    padding-top:5px;
    font-size: 16px;
    font-weight:200;
    width:inherit;
    overflow:hidden;
    color: #525252;
    line-height: 16px;
    letter-spacing:1px;
}

.select2-results__option.emptyoption {
    color: #d3d3d3;
}

.select2-container {
    float:left;
}

.select2-container--default {
    font-weight:200;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 18px;
    background: rgba(248, 248, 248, 0);
    border-radius: 6px;
    color: black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 18px;
}

.select2-container .select2-selection--single {
    height: 18px;
    border: none;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #aaa;
    border-radius: 6px;
    width:inherit;
}

.select2-container--open .select2-dropdown--above {
    border: 1px solid #aaa;
    border-radius: 6px;
    width:inherit;
}