body {
    min-width:1050px;
    overflow-x: hidden;
    font-family: Verdana;
    overflow-y:hidden;
}

#content-wrapper {
    position:absolute;
    display:block;
    top:80px;
    height:100%;
    width:calc(100% - 15px);
    overflow-y:auto;
    overflow-x:hidden;
}

#tableau-views {
    display:inline-block;
    float:left;
    padding:3px 0px;
    width:calc(100% - 475px);
}

#tableau-views span {
    display:inline-block;
    float:left;
    width:calc(100% / 3 - 5px);
    margin:0px 5px 0px 0px;
    padding:10px 0px;
    
    color:#fff;
    background-color:#d3d3d3;
    font-size:12px;
    text-align:center;
    cursor:pointer;
}

#tableau-views span.active {
    background-color:#a9a9a9;
}

#tableau-views span:hover {
    background-color:#a9a9a9;
}